In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/run/media/alpha/Files/Data_Analytics/ECom_Data_analysis/data/ecommerce_sales_data.csv')

In [3]:
df.head()

,TransactionID,CustomerID,ProductID,ProductCategory,Quantity,Price,Discount,TransactionDate,PaymentMethod,CustomerLocation,CustomerAge,CustomerGender,CustomerIncomeGroup,CustomerLoyaltyScore
0,1,8270,295,Clothing,1,801.66,0.13,2023-12-22 10:35:26,Cash on Delivery,New Juan,46,Female,Medium,83.36
1,2,1860,546,Beauty,1,225.03,0.06,2024-05-05 10:40:33,Debit Card,South Julie,59,Other,High,58.88
2,3,6390,430,Toys,2,544.99,0.24,2023-12-04 05:22:59,Debit Card,West Carrieview,61,Female,High,53.99
3,4,6191,807,Beauty,2,157.02,0.01,2024-01-02 11:11:00,Bank Transfer,Christianberg,69,Female,Low,11.73
4,5,6734,319,Electronics,2,155.51,0.14,2024-06-18 01:01:29,Debit Card,South Williamhaven,29,Other,High,34.79

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   TransactionID         100000 non-null  int64
 1   CustomerID            100000 non-null  int64
 2   ProductID             100000 non-null  int64
 3   ProductCategory       100000 non-null  object
 4   Quantity              100000 non-null  int64
 5   Price                 100000 non-null  float64
 6   Discount              100000 non-null  float64
 7   TransactionDate       100000 non-null  object
 8   PaymentMethod         100000 non-null  object
 9   CustomerLocation      100000 non-null  object
 10  CustomerAge           100000 non-null  int64
 11  CustomerGender        100000 non-null  object
 12  CustomerIncomeGroup   100000 non-null  object
 13  CustomerLoyaltyScore  100000 non-null  float64
dtypes: float64(3), int64(5), object(6)
memory usage: 10.7+ MB

In [5]:
df.describe()

,TransactionID,CustomerID,ProductID,Quantity,Price,Discount,CustomerAge,CustomerLoyaltyScore
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,5504.000280,550.554140,2.499750,501.469993,0.149962,43.381210,50.004314
std,28867.657797,2600.472561,260.256267,1.118353,287.536905,0.086638,15.030994,28.888185
min,1.000000,1000.000000,100.000000,1.000000,5.010000,0.000000,18.000000,0.000000
25%,25000.750000,3251.000000,325.000000,1.000000,251.537500,0.070000,30.000000,24.920000
50%,50000.500000,5511.000000,552.000000,3.000000,501.580000,0.150000,43.000000,49.920000
75%,75000.250000,7751.000000,777.000000,3.000000,750.397500,0.220000,56.000000,75.070000
max,100000.000000,9999.000000,999.000000,4.000000,1000.000000,0.300000,69.000000,100.000000

In [6]:
df.isnull().sum()

TransactionID           0
CustomerID              0
ProductID               0
ProductCategory         0
Quantity                0
Price                   0
Discount                0
TransactionDate         0
PaymentMethod           0
CustomerLocation        0
CustomerAge             0
CustomerGender          0
CustomerIncomeGroup     0
CustomerLoyaltyScore    0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.dtypes

TransactionID             int64
CustomerID                int64
ProductID                 int64
ProductCategory          object
Quantity                  int64
Price                   float64
Discount                float64
TransactionDate          object
PaymentMethod            object
CustomerLocation         object
CustomerAge               int64
CustomerGender           object
CustomerIncomeGroup      object
CustomerLoyaltyScore    float64
dtype: object

In [9]:
df.sample(5)

,TransactionID,CustomerID,ProductID,ProductCategory,Quantity,Price,Discount,TransactionDate,PaymentMethod,CustomerLocation,CustomerAge,CustomerGender,CustomerIncomeGroup,CustomerLoyaltyScore
99256,99257,1238,522,Clothing,3,161.85,0.05,2023-10-06 07:04:46,PayPal,New Brianfurt,31,Female,High,2.45
2272,2273,7519,291,Home & Kitchen,3,813.41,0.21,2024-07-23 18:52:13,Cash on Delivery,Port Heather,35,Male,High,16.08
14370,14371,3783,645,Electronics,3,891.37,0.02,2023-12-03 01:18:15,Bank Transfer,North Martinmouth,49,Male,Low,83.28
82581,82582,3233,760,Electronics,1,608.23,0.01,2023-12-17 09:14:27,PayPal,North Tracybury,50,Male,Medium,93.60
74300,74301,6749,485,Books,1,578.55,0.07,2024-06-14 21:09:11,Debit Card,Phillipbury,24,Other,High,85.64

In [10]:
df.columns = df.columns.str.strip().str.replace(' ', '_').str.lower()

In [11]:
print(df['customerage'].max(), df['customerage'].min(), df['customerage'].mean())

print(df['customergender'].value_counts())

print(df['productcategory'].value_counts())

print(df['paymentmethod'].value_counts())

print(df['customerlocation'].value_counts())

print(df['customerincomegroup'].value_counts())

69 18 43.38121
customergender
Male      33604
Other     33343
Female    33053
Name: count, dtype: int64
productcategory
Clothing          14363
Books             14342
Toys              14304
Home & Kitchen    14295
Beauty            14277
Electronics       14221
Sports            14198
Name: count, dtype: int64
paymentmethod
Bank Transfer       20227
Debit Card          19978
Credit Card         19957
PayPal              19937
Cash on Delivery    19901
Name: count, dtype: int64
customerlocation
New Michael         100
Lake Michael         94
East Michael         83
South Michael        82
North Michael        82
                   ...
Navarroport           1
West Dariusmouth      1
Port Philipberg       1
Pachecotown           1
North Terristad       1
Name: count, Length: 38283, dtype: int64
customerincomegroup
Medium    33428
Low       33328
High      33244
Name: count, dtype: int64

In [12]:
print(df.columns)

Index(['transactionid', 'customerid', 'productid', 'productcategory',
       'quantity', 'price', 'discount', 'transactiondate', 'paymentmethod',
       'customerlocation', 'customerage', 'customergender',
       'customerincomegroup', 'customerloyaltyscore'],
      dtype='object')

In [13]:
df.head()

,transactionid,customerid,productid,productcategory,quantity,price,discount,transactiondate,paymentmethod,customerlocation,customerage,customergender,customerincomegroup,customerloyaltyscore
0,1,8270,295,Clothing,1,801.66,0.13,2023-12-22 10:35:26,Cash on Delivery,New Juan,46,Female,Medium,83.36
1,2,1860,546,Beauty,1,225.03,0.06,2024-05-05 10:40:33,Debit Card,South Julie,59,Other,High,58.88
2,3,6390,430,Toys,2,544.99,0.24,2023-12-04 05:22:59,Debit Card,West Carrieview,61,Female,High,53.99
3,4,6191,807,Beauty,2,157.02,0.01,2024-01-02 11:11:00,Bank Transfer,Christianberg,69,Female,Low,11.73
4,5,6734,319,Electronics,2,155.51,0.14,2024-06-18 01:01:29,Debit Card,South Williamhaven,29,Other,High,34.79

In [14]:
df['customergender'] = df['customergender'].map({'Female': 2, 'Male': 1, 'Other': 0})
df['customerincomegroup'] = df['customerincomegroup'].map({'Low': 0, 'Medium': 1, 'High': 2})

In [15]:
df['transactiondate'] = pd.to_datetime(df['transactiondate'], errors='coerce')

In [16]:
df.to_csv('/run/media/alpha/Files/Data_Analytics/ECom_Data_analysis/data/data.csv', index=False)